html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
aside,
figure,
figcaption,
main,
footer,
header,
hgroup,
menu,
nav,
audio,
video,
image {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

:root {
  --primary-bg: #ecf2f8;

  --dark-blue: #48556a;
  --saturated-blue: #6d7f97;
  --light-blue: #9eafc2;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--primary-bg);
  font-family: Manrope, "sans-serif";
}

.card {
  display: flex;
  max-width: 730px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

.card-pic {
  width: 100%;
  height: 100%;
  grid-area: image;
  width: 284px;
  height: 280px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 40px auto 40px;
  row-gap: 1rem;
}

h2 {
  color: var(--dark-blue);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;

}

.card-subtext {
  color: var(--saturated-blue);
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-share-btn {
  width: 32px;
  height: 32px;
  background-color: var(--saturated-blue);
  border-radius: 50%;
  fill: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.detail {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
  margin-right: auto;
}

.profile-name {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--dark-blue);
}

.profile-publishdate {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light-blue);
}
