html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
aside,
figure,
figcaption,
main,
footer,
header,
hgroup,
menu,
nav,
audio,
video,
image {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

:root {
  --primary-bg: #ecf2f8;

  --dark-blue: #48556a;
  --saturated-blue: #6d7f97;
  --light-blue: #9eafc2;
}

body {
  background-color: var(--primary-bg);
  font-size: 13px;
  font-family: Manrope, "sans-serif";
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "image header"
    "image subtext"
    "image profile";
    background-color: white;
}

.card-pic {
  grid-area: image;
}
